<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title><%= content_for(:title) %></title>
    <meta content="ie=edge, chrome=1" http-equiv="x-ua-compatible" />
    <!-- css -->
    <%= stylesheet_link_tag 'application' %>

    <!-- js -->
    <%= javascript_include_tag 'application' %>

    <!-- datepicker (temp) -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body class="<%= body_class %>" data-quicksearch-ga-query="<%= strip_tags(@log_query) %>">

<%= render partial: 'layouts/grenander/navbar' %>
<main id="main-container" class="<%= container_classes %>" role="main" aria-label="main-container">
    <div class ="row">
    <section id="content" class="<%= main_content_classes %> order-last" aria-label="<%= t('blacklight.search.documents.aria.search_results') %>">
      <%= render partial: 'grenander/search_source' %>
    </section>

    <section id="sidebar" class="<%= sidebar_classes %> order-first" aria-label="<%= t('blacklight.search.documents.aria.limit_search') %>">
      <%= render partial: 'grenander/source_options' %>
    </section>
    </div>


        <div class="medium-12 main columns">
            <div class="skip-link">
                <a href="#main-content"></a>
            </div>
            <!-- CONTENT: enter content below this line -->
            <div id="quicksearch">
            <%= yield %>
            </div>
        </div>
</main>

<%= render partial: 'layouts/grenander/footer' %> 

<script type="text/javascript">$(function() { $('body').hide().show(); });
window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %>
</script>
</body>
</html>
